<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian_rigs</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="product.ejs"> -->
  <!-- <link rel="stylesheet" href="./stylesheets/addnewpro.css"> -->
  <link rel="stylesheet" href="/stylesheets/product.css">

</head>
<body>
    <div id="main">
        <div id="left">
            <div id="sidebox">

                <% for(var i = 1; i <= 4; i++) {%>
             
                    <div id="sbox<%=i%>" class="sbox">  

                        <% if(i==1){%>

                            <img  src="/upload/<%= product.image1 %>">

                        <% }else if(i==2){%>

                           <img  src="/upload/<%= product.image2 %>">
                     
                        <% }else if(i==3){%>
                        
                            <img src="/upload/<%= product.image3 %>">

                        <% }else if(i==4){%>

                            <img src="/upload/<%= product.image4 %>">
    
                        <% }%>

                    </div>
                    <% } %>

                <!-- <div id="sbox1" class="sbox"></div>
                <div id="sbox2" class="sbox"></div>
                <div id="sbox3" class="sbox"></div>
                <div id="sbox4" class="sbox"></div> -->
            </div>
            <div id="mainbox">
                <div id="boxdesign">
                    <img id = "bbImg" src="/upload/<%= product.image1 %>" alt="not photo" />
                </div>
                <div id="cart-design">
                    <div id="left-cart">
                        <h1>Buy Now</h1>
                    </div>
                    <div id="right-cart">
                        <h1>Add to cart</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="main-details">
                <h2>100$ </h2>
                <div id="price-box">
                    <h2><%= product.title%></h2>

                    <h1>$<%= product.price%> (Inculsive of all taxes)</h1>

                    <div id="rating">
                        <div id="rating-left">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <h5>300 rating, 150 Reviews</h5>
                    </div>

                    <h3>Free Delivery</h3>
                </div>
                <div id="otharized">
                    <h2><i class="ri-refresh-line"></i> 
                    -Original Brand</h2>
                    <h2><i class="ri-refresh-line"></i> -Authorised Seller</h2>
                </div>
                <div id="size">
                    <div id="s1" class="sizebox">   <h4> ready to Ship  <br> 4x6 ft <br> 120x180 cm </h4></div>
                    <div id="s2" class="sizebox"> <h4>  ready to ship   <p>4x6 ft  <br>   120x180 cm  </h4> </div>
                    <div id="s3" class="sizebox">  <h4> Made to order   <br> 5x8 ft <br>  120x180 cm   </h4> </div>
                </div>
                <div id="product-details">
                    <h1>Product details</h1>
                    <h4>Name : <%= product.title%>

                        Product Name : <%= product.title%>
                        <br>
                        <%= product.description%>
                    </h4>
                </div>
            </div>
        </div>
    </div>

<form action="payment" method="POST">

    <input type="number" value="<%= product.price %>">
    <script
    src = "//checkout.stripe.com/v2/checkout.js"
    class = "stripe-button"
    data-key = "<%= key %>"
    data-amount= "<%= product.price %>"
    data-currency = "inr"
    data-name = "<%= user.Name %>"
    data-description = "buy <%= product.title%>"
    data-locale = "auto"></script>

 

</form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var leftcart = document.querySelector("#left-cart");
        leftcart.addEventListener("mousemove", function(){
            gsap.to("#left-cart",{
                backgroundColor:"black",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#left-cart>h1",{
                color:"white",
                duration:1,
                ease:Expo.InOut
            })
        })
        leftcart.addEventListener("mouseleave", function(){
            agsap.to("#left-cart",{
                backgroundColor:"white",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#left-cart>h1",{
                color:"black",
                duration:1,
                ease:Expo.InOut
            })
        })

        var rightcart = document.querySelector("#right-cart");
        rightcart.addEventListener("mousemove", function(){
            gsap.to("#right-cart",{
                backgroundColor: "green",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#right-cart>h1",{
                color:"white",
                duration:1,
                ease:Expo.InOut
            })
        })
        rightcart.addEventListener("mouseleave", function(){
            gsap.to("#right-cart",{
                backgroundColor:"white",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#right-cart>h1",{
                color:"black",
                duration:1,
                ease:Expo.InOut
            })
        }) 


        function product(){
            var img1 = document.querySelector("#sbox1");
            var img2 = document.querySelector("#sbox2");
            var img3 = document.querySelector("#sbox3");
            var img4 = document.querySelector("#sbox4");
            
            var main_img = document.querySelector("#boxdesign #bbImg")
            img1.addEventListener("click", function(){
                console.log("hello");
                main_img.src = "/upload/<%= product.image1 %>"
            })

            img2.addEventListener("click", function(){
                console.log("hello");
                main_img.src = "/upload/<%= product.image2 %>"
            })

            img3.addEventListener("click", function(){
                console.log("hello");
                main_img.src = "/upload/<%= product.image3 %>"
            })

            img4.addEventListener("click", function(){
                console.log("hello");
                main_img.src = "/upload/<%= product.image4 %>"
            })

            main.img.addEventListener("mousemove", function(){
                console.log("kello");
            })
        }
        product();

    </script>
</body>
</html>