<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian_rigs</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="product.ejs"> -->
  <!-- <link rel="stylesheet" href="./stylesheets/addnewpro.css"> -->
  <link rel="stylesheet" href="/stylesheets/product.css">

 <!-- <style>
    @font-face {
    font-family: am;
    src: url("/public/samarkan/Gilroy-Medium.ttf");
}
*{
    margin: 0%; 
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
}
#left{
    display: flex;
    width: 50vw;
    height: 100vh;
    background-color: blueviolet;
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#left #sidebox{
    /* border: 1px solid black; */
    padding: 3vw 0vw;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 1.5vw;
    align-items: end;
    width: 20%;
    height: 100vh;
    background-color: #fff;
}
#left #mainbox{
    padding: 3vw 0vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
#sidebox .sbox{
    width: 80%;
    height: 15vh;
    background-color:brown;
}


#mainbox #boxdesign{
    width: 80%;
    height: 80%;
    /* border: 2px solid black; */
}
#boxdesign img{
    width: 100%;
    height: 100%;
}
#mainbox #cart-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    /* background-color: chocolate; */
}
#cart-design #left-cart{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 70%;
    
    background-color: rgb(216, 210, 210);
}
#cart-design #right-cart{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 70%;
    background-color: rgb(185, 185, 196);
}
#cart-design h1{
    cursor: pointer;
    font-size: 1.5rem;
   color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#right #main-details{
    padding-left: 1vw;
    width: 90%;
    height: 95%;
    /* border: 1px solid rgba(188, 176, 176, 0.176); */
}
#main-details>h2{
    font-family: am;
    font-weight: 100;
}
#main-details #price-box{
    margin-top: 2vw;
    width: 90%;
    height: 30vh;
    /* border: .5px solid rgba(196, 188, 188, 0.283); */
}
#price-box>h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.3vw;
    color: rgba(0, 0, 0, 0.6);
}
#price-box>h1{
    margin-top: 1vw;
    font-family: am;
}
#price-box #rating{
    margin-top: 1vw;
    gap: 2vw;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    /* background-color: chartreuse; */
}
#rating #rating-left{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 100%;
    background-color: rgb(18, 165, 77);
}
#rating-left i{
    color: white;
}
#rating>h5{
    font-family: am;
    color: rgba(0, 0, 0, 0.457);
}
#price-box>h3{
    margin-top: 1vw;
    font-family: am;
}
#main-details #otharized{
    font-family: am;
    margin-top: 2vw;
    padding: 0vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    /* background-color: chocolate; */
}
#otharized>h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#otharized i{
    color: blue;
    animation: otharized 3s infinite linear;
}
@keyframes otharized {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
#main-details #size{
    margin-top: 2vw;
    padding: 0vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 15vh;
    background-color: rgb(255, 255, 255);
}
#size .sizebox{
    font-family: am;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 13vh;
    /* background-color: rgb(255, 34, 0); */
    border: 1px solid black;
}
#main-details #product-details{

    width: 100%;
    height: 23vh;
}
#product-details>h1{
    font-family: am;
}
#product-details>h4{
    color: rgba(0, 0, 0, 0.614);
    margin-top: 1vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#sidebox img{
    height: 100%;
    width: 100%;
    position: relative;
}
</style>  -->
</head>
<body>
    <div id="main">
        <div id="left">
            <div id="sidebox">

                <% for(var i = 1; i <= 4; i++) {%>
             
                    <div id="sbox<%=i%>" class="sbox">  
                        <% if(i==1){%>
                            <img src="/upload/<%= product.image1 %>">
                      <% }else if(i==2){%>
                        <img src="/upload/<%= product.image2 %>">
                     
                     
                        <% }else if(i==3){%>
                        
                            <img src="/upload/<%= product.image3 %>">

                            <% }else if(i==4){%>

                                <img src="/upload/<%= product.image4 %>">
    
                                <% }%>
                    </div>
                    <% } %>

                <!-- <div id="sbox1" class="sbox"></div>
                <div id="sbox2" class="sbox"></div>
                <div id="sbox3" class="sbox"></div>
                <div id="sbox4" class="sbox"></div> -->
            </div>
            <div id="mainbox">
                <div id="boxdesign">
                    <img id = "bbImg" src="/upload/<%= product.image1 %>" alt="not photo" />
                </div>
                <div id="cart-design">
                    <div id="left-cart">
                        <h1>Buy Now</h1>
                    </div>
                    <div id="right-cart">
                        <h1>Add to cart</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <div id="main-details">
                <h2>100$ </h2>
                <div id="price-box">
                    <h2><%= product.title%></h2>

                    <h1>$<%= product.price%> (Inculsive of all taxes)</h1>

                    <div id="rating">
                        <div id="rating-left">
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                            <i class="ri-star-fill"></i>
                        </div>
                        <h5>300 rating, 150 Reviews</h5>
                    </div>

                    <h3>Free Delivery</h3>
                </div>
                <div id="otharized">
                    <h2><i class="ri-refresh-line"></i> 
                    -Original Brand</h2>
                    <h2><i class="ri-refresh-line"></i> -Authorised Seller</h2>
                </div>
                <div id="size">
                    <div id="s1" class="sizebox">   <h4> ready to Ship  <br> 4x6 ft <br> 120x180 cm </h4></div>
                    <div id="s2" class="sizebox"> <h4>  ready to ship   <p>4x6 ft  <br>   120x180 cm  </h4> </div>
                    <div id="s3" class="sizebox">  <h4> Made to order   <br> 5x8 ft <br>  120x180 cm   </h4> </div>
                </div>
                <div id="product-details">
                    <h1>Product details</h1>
                    <h4>Name : <%= product.title%>

                        Product Name : <%= product.title%>
                        <br>
                        <%= product.description%>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        var leftcart = document.querySelector("#left-cart");
        leftcart.addEventListener("mousemove", function(){
            gsap.to("#left-cart",{
                backgroundColor:"black",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#left-cart>h1",{
                color:"white",
                duration:1,
                ease:Expo.InOut
            })
        })
        leftcart.addEventListener("mouseleave", function(){
            gsap.to("#left-cart",{
                backgroundColor:"white",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#left-cart>h1",{
                color:"black",
                duration:1,
                ease:Expo.InOut
            })
        })

        var rightcart = document.querySelector("#right-cart");
        rightcart.addEventListener("mousemove", function(){
            gsap.to("#right-cart",{
                backgroundColor: "green",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#right-cart>h1",{
                color:"white",
                duration:1,
                ease:Expo.InOut
            })
        })
        rightcart.addEventListener("mouseleave", function(){
            gsap.to("#right-cart",{
                backgroundColor:"white",
                duration:1,
                ease: Expo.InOut
            })
            gsap.to("#right-cart>h1",{
                color:"black",
                duration:1,
                ease:Expo.InOut
            })
        }) 
    </script>
</body>
</html>